html, body {
  box-sizing: border-box;
  background-color: #037f42;
  font-family: "avenir", Helvetica, Arial, Sans-Serif;
  position: relative;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 24px;
  color: #244024;
  text-align: center;
  position: relative;

}

h1 {
  color: black;
  position: relative;
  font-size: 30px;
  font-weight: 700;
}
h4 {
  position: relative;
  color: black;
  text-align: center;
}
p {
  color: #244024;
  font-size: 14px;
  position: relative;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #244024;

  &:hover {
      color: #9c9c9c;

    &:active {

        color: #244024;

        &:visited {

          color: #244024;

        }
      }
    }
}


$br: 10px;
$fl: left;
$color1: #037F42;
$color2: #D2E1F2;
$margin: 2px;

@mixin page ($height: 100%, $min-height: 1200px) {
 margin: 0 auto;
 padding: 6px 6px 0 6px;
 width: 1050px;
 height: $height;
 min-height: $min-height;
 background: #D2E1F2;
 border-radius: $br;
}

.main_page {
  @include page;
}

.header {
  position: relative;
  width: 99%;
  height: 320px;
  border: 4px solid $color1;
  border-radius: $br;
}

.smile_right {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/Dentistry_Photo.jpg);
  margin: 0 auto;
  border-radius: $br;
  opacity: 0.5;
  z-index: 1;
}

.picture--title {
  position: absolute;
  margin: 30px 10px 30px 10px;
  width: 514px;
  height: 200px;
  z-index: 2;
  border: 4px solid $color1;
  border-radius: $br;
  text-align: center;
  background-color: #E5CA75;

}

.navtext {
  position: relative;
  top: 270px;
  margin: 0 14px 0 14px;
  font: normal bold 20px Avenir, serif;
  color: #244024;
  border: 2px solid;
  border-top: #9C9C9C;
  border-right: #9C9C9C;
  border-left: #9C9C9C;
  z-index: 2;


  &:hover {
      color: #9c9c9c;

    &:active {

        color: #244024;

       }
    }
}

//test code

@mixin container($background, $margin: 2px, $width: 320px, $height: 220px, $border-radius: 10px) {
  position: relative;
  border-radius: $border-radius;
  float: $fl;
  background-color: $background;
  width: $width;
  height: $height;
  margin: $margin;
}

.sectionwrap_pictures {
  margin: 10px auto;
  width: 990px;
  height: 230px;
}

.picture_container1 {
  @include container ($color2);
  border: 3px solid $color1;
}

.picture_container2 {
  @include container ($color2);
  border: 3px solid $color1;
}

.picture_container3 {
  @include container ($color2);
  border: 3px solid $color1;
}

.sectionwrap_text{
  width: 990px;
  height: 230px;
  margin: 0 auto;
  text-align: center;
}

.picture_text_left  {
  @include container (#D2E1F2);
  line-height: 22px;

}

.picture_text_middle {
  @include container (#D2E1F2);
  left: 8px;
  line-height: 22px;

}

.picture_text_right {
  @include container (#D2E1F2);
  left: 14px;
  line-height: 22px;
}

.licences {
  font-size: 12px;
}

.banner_break {
  width: 98%;
  height: 10%;
  border: 5px solid $color1;
  border-radius: $br;
  margin: 0 auto;
  text-align: center;
}

.main_footer {
  text-align: center;
}

.container4{
  @include container ($color2);
  background: url(images/shiny-tooth.png)  bottom center no-repeat;
  left: 2%;
  line-height: 22px;
}

.container5{
  @include container($color2);
  background: url(images/teeth-protection.png)  bottom center no-repeat;
  left: 2%;
  line-height: 22px;
}

.container6 {
  @include container($color2);
  background: url(images/book-appointment.png)  bottom center no-repeat;
  left: 4%;
  line-height: 22px;
}

//Family Dentistry code -- "container" sass will be used for this page.

.family_dentistry_page {
  @include page ($height: 1800px);
}

.cleaning {
  @include container ($color2, $height: 150px);
  left: 2%;
  top: 10px;
  background: url(images/toothbrush.png)  top 10px left no-repeat;
  text-align: center;
  line-height: 22px;
}

.checkups {
  @include container ($color2, $height: 150px);
  left: 4%;
  top: 10px;
  background: url(images/dentist-tools.png)  top 10px left no-repeat;
  text-align: center;
  line-height: 22px;
}

.procedures {
  @include container ($color2, $width: 330px, $height: 160px);
  left: 2%;
  top: 10px;
  background: url(images/clipboard.png)  top 10px left no-repeat;
}


.experience {
  @include container ($color2, $width: 330px);
  left: 2%;
  top: 30px;
  background: url(images/zoom-on-tooth.png)  top left no-repeat;
  text-align: center;
  line-height: 22px;
}

.qualified {
  @include container ($color1, $width: 330px);
  left: 2%;
  background: url(images/tooth.png) top 20px center no-repeat;
}

.box_oralcancer {
  position: relative;
  width: 99%;
  height: 200px;
  float: $fl;
  border-style: solid;
  border-top-color: $color1;
  border-bottom-color: $color1;
  border-right-color: $color2;
  border-left-color: $color2;
  border-radius: $br;
  text-align: center;
}

.oralcancer_text {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
}


.protection_two {
  @include container ($color2, $width: 350px, $height: 194px);
  background: url(images/protection_two.jpg) center no-repeat;
}


.protection_three {
  @include container ($color2, $width: 340px, $height: 194px);
  background: url(images/protection_three.jpg) center right no-repeat;
  float: right;
}

.symptoms {
  @include container ($color2, $width: 330px, $height: 340px );
  left: 2%;
}

.prevent {
  @include container ($color2, $width: 330px, $height: 160px);
}

.protect {
  @include container ($color2, $width: 330px, $height: 186px);
  left: 2%;
  line-height: 22px;
}

.talk_dentist {
  @include container ($color2, $width: 330px, $height: 150px);
  left: 20px;
  line-height: 22px;
}

.healthyteeth {
  @include container ($color2, $width: 340px, $height: 320px);
  background: url(images/teeth-health.png) center no-repeat;
}

.sleep_apnea {
  position: relative;
  width: 99%;
  height: 200px;
  float: $fl;
  border-style: solid;
  border-top-color: $color1;
  border-bottom-color: $color1;
  border-right-color: $color2;
  border-left-color: $color2;
  border-radius: $br;
  text-align: center;
}

.apnea_text {
  position: relative;
  padding-top: 30px;
  z-index: 2;
  margin: 0 auto;
}

.apnea_left {
  @include container ($color2, $width: 340px, $height: 194px);
  background: url(images/apnea_left.jpg) left no-repeat;
  z-index: 1;
}


.apnea_right {
  @include container ($color2, $width: 350px, $height: 194px);
  background: url(images/apnea_right.jpg) center right no-repeat;
  z-index: 1;
  float: right;
}

// Bottom of page

.sleepapnea {
  @include container ($color1, $height: 280px, $width: 30%);
  background: url(images/resting-face.png) bottom 6px center no-repeat;
  left: 20px;
  line-height: 22px;

}

.silentnite {
  @include container ($color2, $height: 250px, $width: 30%);
  left: 4%;
  line-height: 22px;
}

.apnea_effects {
  @include container ($color2, $height: 280px, $width: 30%);
  background: url(images/camping.png) bottom 6px center no-repeat;
  left: 70px;
  line-height: 22px;
}


.why {
  @include container ($color2, $height: 220px);
}

.moon_picture {
  @include container ($color2, $height: 220px, $width: 390px);
  top: 80px;
  background: url(images/moon.png) top center no-repeat;
}

.dangerous {
  @include container ($color2, $height: 220px);
  float: right;
}

//beginning of doctors page

.doctors_page {
  @include page ($height: 100%, $min-height: 1150px);
}


.main_picture {
  border-radius: $br;
  width: 98%;
  height: 400px;
  background: url(images/doctor/doctor_smiles.jpg) center no-repeat;
  margin: 10px;
}

.about_wrapper {
  width: 98%;
  height: 300px;
  margin: 0 auto;
  border-style: solid;
  border-size: 4px;
  border-left-color: $color2;
  border-right-color: $color2;
  border-top-color: $color1;
  border-bottom-color: $color1;
  padding-top: 10px;
  padding-bottom: 30px;

}

.about_kaga {
  @include container ($color2, $height: 300px, $width: 320px, $border-radius: 0px, $margin: 10px);
  line-height: 22px;
  font-weight: 600px;

}

.about_grasso {
  @include container ($color2, $height: 300px, $width: 320px, $border-radius: 0px, $margin: 10px);
  line-height: 22px;

}

.hygenists {
  @include container ($color2, $height: 300px, $width: 320px, $border-radius: 0px, $margin: 10px);
  line-height: 22px;
}
//beginning of technology page

.technology_page {
  @include page ($height: 1370px);
}


.technology_pictures {
  position: relative;
  width: 99%;
  height: 204px;
  border: 4px solid green;
  border-radius: $br;
  margin: 10px auto;
}


.invisilign_picture {
  @include container ($color2, $width: 33%, $height: 200px);
  background: url(images/invisilign_left.jpg) left no-repeat;
  z-index: 1;
}

.oralid_center {
  @include container ($color2, $width: 33%, $height: 200px);
  background: url(images/oral_id.jpg) center no-repeat;
  z-index: 1;
  left: 6px;

}

.diagnodent_picture {
  @include container ($color2, $width: 32%, $height: 200px);
  background: url(images/diagnodent.jpg) center right no-repeat;
  z-index: 1;
  left: 10px;

}

.technology_information {
  position: relative;
  width: 100%;
  height: 300px;

}

.invisilign_text_one {
  @include container ($color2, $width: 33%, $height: 280px, $border-radius: 0px);
  border-width: 2px;
  border-style: solid;
  border-left-color: $color2;
  border-top-color: $color2;
  border-right-color: $color1;
  border-bottom-color: $color2;
  line-height: 22px;
}

.oralid_text {
  @include container ($color2, $width: 33%, $height: 300px);
  left: 2px;
  line-height: 22px;
}

.diagnodent_text {
  @include container ($color2, $width: 31%, $height: 280px, $border-radius: 0px);
  padding-left: 10px;
  left: 2px;
  border-style: solid;
  border-width: 2px;
  border-left-color: $color1;
  border-top-color: $color2;
  border-right-color: $color2;
  border-bottom-color: $color2;
  line-height: 22px;
}


.radiography {
  position: relative;
  width: 99%;
  height: 200px;
  border: 4px solid green;
  border-radius: $br;
  text-align: center;
}

.radiography_left {
  @include container ($color2, $width: 33%, $height: 200px);
  background: url(images/digital_radiography.jpg) top left no-repeat;
}

.radiography_information {
  position: relative;
  width: 760px;
  height: 300px;
  margin: 0 auto;

}

.radiography_text_one {
  @include container ($color2, $width: 340px, $height: 200px, $border-radius: 0px);
  padding: 10px;
  padding-top: 20px;
  border-style: solid;
  border-width: 2px;
  border-left-color: $color1;
  border-top-color: $color2;
  border-right-color: $color2;
  border-bottom-color: $color2;
  line-height: 22px;
}

.radiography_text_two {
  @include container ($color2, $width: 340px, $height: 210px, $border-radius: 0px);
  padding-left: 14px;
  padding-top: 20px;
  left: 4px;
  border-style: solid;
  border-width: 2px;
  border-left-color: $color1;
  border-top-color: $color2;
  border-right-color: $color1;
  border-bottom-color: $color2;
  line-height: 22px;
}


//cosmetic age

.cosmetic_header {
  width: 92%;
  height: 380px;
  border: 4px solid $color2;
  margin: 0 auto;
}

.cosmetic_page {
  @include page ($height: 100%, $min-height: 1250px);
  }
//contact page

.contact_page {
@include page ($height: 100%, $min-height: 1100px);

}

.contact_information {
  width: 48%;
  padding-left: 20px;
  float: $fl;
}

.map_information {
  width: 50%;
  height: 380px;
  float: $fl;
}

.certificates {
  float: $fl;
  width: 520px;
  height: 400px;
}

.ada {
  background: url(images/ada.png) left no-repeat;
  width: 200px;
  height: 100px;
  float: left;
  margin: 0 auto;
}

.aad {
  background: url(images/aad.png) left no-repeat;
  width: 300px;
  height: 100px;
  float: left;
  margin: 0 auto;
}

.njda {
  background: url(images/njda.png) left no-repeat;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 auto;
}

.general_dentistry {
  background: url(images/general_dentistry.png) bottom 10px center no-repeat;
  width: 100px;
  height: 100px;
  float: left;
  //margin: auto;
}

.lumineers {
  background: url(images/lumineers.png) left no-repeat;
  width: 200px;
  height: 100px;
  float: left;
  margin: 0 auto;
}

.address {
  text-align: left;
}
